<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<br>
<h1>DataFrame Operations and Anomaly Detection</h1>
<em>Introduction to Python | In-Class Script</em><br><br>

Prof. Chase Kusterer - Faculty of Analytics <br>
Hult International Business School <br>
<a href="https://github.com/chase-kusterer">https://github.com/chase-kusterer</a> <br><br><br><br><br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<br>
<h2>Part I: Practice - Importing Excel Data into Python</h2>
In the previous script, we learned how to import data into Python using the <strong>read_excel(&nbsp;)</strong> method from <em>pandas</em>. Every time we launch a Python script or a Jupyter Notebook, our working environment gets reset and we need to perform these steps one more time. To start off this script, you are tasked with importing the data.
<br><br>
<h4>S12.1.1) Import pandas and the diamonds dataset.</h4>
Import pandas as pd. Then, import the dataset, which is on the "diamonds" sheet of the Excel file. Make sure to specify the index for the row where feature labels are located.

In [1]:
## Session 12.1.1 ##

# importing pandas as pd
import pandas as pd


# storing the path to the dataset
file = "diamonds.xlsx"


# reading the file into Python through pandas
diamonds = pd.read_excel(io         =  file,
                         sheet_name = 'diamonds',
                         header     =  0)


# checking results (first TEN rows of the dataset)
diamonds.head(n = 10)

   Obs  carat  color  clarity  cut  channel  store  price
0    1   0.32      3        7    0        0      7   1375
1    2   0.35      5        7    1        0      7   1680
2    3   0.40      4        7    1        0      7   2245
3    4   0.59      5        7    0        0      3   2495
4    5   0.72      7        8    0        0      8   2699
5    6   0.72      6        8    0        0      8   2699
6    7   0.51      2        8    0        0      3   2895
7    8   1.00      8        9    0        0      7   2900
8    9   1.00      8        9    0        0      8   2999
9   10   0.47      2        7    0        0      7   3080

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h2>Part II: Auditing Data Quality - Fixing Features</h2>

Now that the diamonds dataset has been instantiated, its methods can be accessed using method chaining. All DataFrame methods can be accessed using <strong>help(pd.DataFrame)</strong>. After import, a common step in the analytical process is to audit data quality. The following DataFrame methods are critical for this task, and they will also help to validate many of the assumptions from the <em>Finding the "Best" Diamond on a Budget</em> case study.

* <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html">.info(&nbsp;)</a>
* <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html">.describe(&nbsp;)</a>
* <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html">.value_counts(&nbsp;)</a>

<br>
Each method will be explored throughout this script, starting with <strong>.info(&nbsp;)</strong>. This method gives us key information related to the label, count, and data type of each column, as well as the size of the DataFrame in terms of memory usage (beyond the scope of this course).

In [4]:
## Session 12.2.1 ##

# analyzing info related to each feature
diamonds.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Obs      409 non-null    int64
 1   carat    409 non-null    float64
 2   color    409 non-null    int64
 3   clarity  409 non-null    int64
 4   cut      409 non-null    int64
 5   channel  409 non-null    int64
 6   store    409 non-null    int64
 7   price    409 non-null    int64
dtypes: float64(1), int64(7)
memory usage: 25.7 KB

<br>

<div style = "width:image width px; font-size:80%; text-align:center;"><img src="./__script_images/chapter-X3-breakdown-of-info().png" width="500" height="500" style="padding-bottom:0.5em;"> <em>Figure 12.1: Breaking down .info(&nbsp;).</em></div>

<br>
<h4>S12.2.2) From the output above, which features seem to have improper data types?</h4>
Remember to check the <a href="miller_mds_two_months_salary_case.pdf">documentation on the diamonds dataset</a> as needed.

In [ ]:
## Session 12.2.2 ##

# features with improper data types
____


# Rationale for above
"""
____
"""

<br>

~~~

  ..---..       ..---..       ..---..       ..---..       ..---..
 /       \     /       \     /       \     /       \     /       \
|         |   |         |   |         |   |         |   |         |
:         ;   :         ;   :         ;   :         ;   :         ;
 \  \~/  /     \  \~/  /     \  \~/  /     \  \~/  /     \  \~/  /
  `, Y ,'       `, Y ,'       `, Y ,'       `, Y ,'       `, Y ,'
   |_|_|         |_|_|         |_|_|         |_|_|         |_|_|
   |===|         |===|         |===|         |===|         |===|
   |===|         |===|         |===|         |===|         |===|
    \_/           \_/           \_/           \_/           \_/
~~~

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h3>Fixing Data Types</h3>
Making changes to data types in Python can be done with ease with the use of a <a href="https://docs.python.org/3/tutorial/datastructures.html#dictionaries">dictionary</a>. A guideline for developing such a tool can be found below. Note that we only need to specify the <em>{feature : data type}</em> of the features we would like to change. Also note that once we have analyzed the results of <strong>.info(&nbsp;)</strong> and understand which data types to convert, we generally apply this in the same step as when we import the data.<br><br>

~~~
{"feature" : data type,     # feature 1
 "feature" : data type,     # feature 2
 ...}                       # and so on
~~~

<br>

<hr style="height:.9px;border:none;color:#333;background-color:#333;" />
<h4>S12.2.3) Convert data types as indicated by the table below.</h4>
Complete the code to create a data type dictionary. Then, import the diamonds dataset one more time, reading in the data types using the <em>dtypes</em> argument from <strong>pd.read_excel(&nbsp;)</strong>. Note that <em>Obs</em> is not listed as it is not going to be used going forward (its ordering is arbitrary and it should not be used in our analysis). Call help on <strong>pd.read_excel(&nbsp;)</strong> to discover which argument can be applied to avoid importing <em>Obs</em>.
<br><br>
<div style = "width:image width px; font-size:80%; text-align:center;">
<table align="center">
<col width="100">
<col width="10">   
<col width="100">
    <tr>
        <th>Feature</th>
        <th>    | </th>
        <th>Original Type</th>
        <th>    | </th>
        <th>New Type</th>
        <th>    | </th>
        <th>Rationale for Change</th>
    </tr>
    <tr>
        <td>channel</td>
        <td>    | </td>
        <td> int</td>
        <td>    | </td>
        <td> str</td>
        <td>    | </td>
        <td> feature is categorical (pre-processing step)</td>
    </tr>
    <tr>
        <td>store</td>
        <td>    | </td>
        <td> int</td>
        <td>    | </td>
        <td> str</td>
        <td>    | </td>
        <td> feature is categorical (pre-processing step)</td>
    </tr>   
    
          Table 14.1: Sample documentation for data type changes.
</table></div><br>

In [5]:
## Session 12.2.3 ##

# calling help on pd.read_excel()
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel._base:

read_excel(io, sheet_name: 'str | int | list[IntStrT] | None' = 0, *, header: 'int | Sequence[int] | None' = 0, names: 'list[str] | None' = None, index_col: 'int | Sequence[int] | None' = None, usecols: 'int | str | Sequence[int] | Sequence[str] | Callable[[str], bool] | None' = None, dtype: 'DtypeArg | None' = None, engine: "Literal['xlrd', 'openpyxl', 'odf', 'pyxlsb'] | None" = None, converters: 'dict[str, Callable] | dict[int, Callable] | None' = None, true_values: 'Iterable[Hashable] | None' = None, false_values: 'Iterable[Hashable] | None' = None, skiprows: 'Sequence[int] | int | Callable[[int], object] | None' = None, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, parse_dates: 'list | dict | bool' = False, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'dict[Hashable, str] | str | None' = None, thousands: 'str | None' = None, decimal: 'str' = '.', comment: 'str | None' = None, skipfooter: 'int' = 0, storage_options: 'StorageOptions' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | dict[IntStrT, DataFrame]'
    Read an Excel file into a pandas DataFrame.

    Supports `xls`, `xlsx`, `xlsm`, `xlsb`, `odf`, `ods` and `odt` file extensions
    read from a local filesystem or URL. Supports an option to read
    a single sheet or a list of sheets.

    Parameters
    ----------
    io : str, bytes, ExcelFile, xlrd.Book, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: ``file://localhost/path/to/table.xlsx``.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method,
        such as a file handle (e.g. via builtin ``open`` function)
        or ``StringIO``.
    sheet_name : str, int, list, or None, default 0
        Strings are used for sheet names. Integers are used in zero-indexed
        sheet positions (chart sheets do not count as a sheet position).
        Lists of strings/integers are used to request multiple sheets.
        Specify None to get all worksheets.

        Available cases:

        * Defaults to ``0``: 1st sheet as a `DataFrame`
        * ``1``: 2nd sheet as a `DataFrame`
        * ``"Sheet1"``: Load sheet with name "Sheet1"
        * ``[0, 1, "Sheet5"]``: Load first, second and sheet named "Sheet5"
          as a dict of `DataFrame`
        * None: All worksheets.

    header : int, list of int, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``. Use None if there is no header.
    names : array-like, default None
        List of column names to use. If file contains no header row,
        then you should explicitly pass header=None.
    index_col : int, list of int, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``.  If a
        subset of data is selected with ``usecols``, index_col
        is based on the subset.

        Missing values will be forward filled to allow roundtripping with
        ``to_excel`` for ``merged_cells=True``. To avoid forward filling the
        missing values use ``set_index`` after reading the data instead of
        ``index_col``.
    usecols : str, list-like, or callable, default None
        * If None, then parse all columns.
        * If str, then indicates comma separated list of Excel column letters
          and column ranges (e.g. "A:E" or "A,C,E:F"). Ranges are inclusive of
          both sides.
        * If list of int, then indicates list of column numbers to be parsed
          (0-indexed).
        * If list of string, then indicates list of column names to be parsed.
        * If callable, then evaluate each column name against it and parse the
          column if the callable returns ``True``.

        Returns a subset of the columns according to behavior above.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        Use `object` to preserve data as stored in Excel and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : str, default None
        If io is not a buffer or path, this must be set to identify io.
        Supported engines: "xlrd", "openpyxl", "odf", "pyxlsb".
        Engine compatibility :

        - "xlrd" supports old-style Excel files (.xls).
        - "openpyxl" supports newer Excel file formats.
        - "odf" supports OpenDocument file formats (.odf, .ods, .odt).
        - "pyxlsb" supports Binary Excel files.

        .. versionchanged:: 1.2.0
            The engine `xlrd <https://xlrd.readthedocs.io/en/latest/>`_
            now only supports old-style ``.xls`` files.
            When ``engine=None``, the following logic will be
            used to determine the engine:

           - If ``path_or_buffer`` is an OpenDocument format (.odf, .ods, .odt),
             then `odf <https://pypi.org/project/odfpy/>`_ will be used.
           - Otherwise if ``path_or_buffer`` is an xls format,
             ``xlrd`` will be used.
           - Otherwise if ``path_or_buffer`` is in xlsb format,
             ``pyxlsb`` will be used.

             .. versionadded:: 1.3.0
           - Otherwise ``openpyxl`` will be used.

             .. versionchanged:: 1.3.0

    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    true_values : list, default None
        Values to consider as True.
    false_values : list, default None
        Values to consider as False.
    skiprows : list-like, int, or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int) at the
        start of the file. If callable, the callable function will be evaluated
        against the row indices, returning True if the row should be skipped and
        False otherwise. An example of a valid callable argument would be ``lambda
        x: x in [0, 2]``.
    nrows : int, default None
        Number of rows to parse.
    na_values : scalar, str, list-like, or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values. By default the following values are interpreted
        as NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
        'n/a', 'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    parse_dates : bool, list-like, or dict, default False
        The behavior is as follows:

        * bool. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index contains an unparsable date, the entire column or
        index will be returned unaltered as an object data type. If you don`t want to
        parse some cells as date just change their type in Excel to "Text".
        For non-standard datetime parsing, use ``pd.to_datetime`` after ``pd.read_excel``.

        Note: A fast-path exists for iso8601-formatted dates.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`to_datetime` as-needed.
    date_format : str or dict of column -> format, default ``None``
       If used in conjunction with ``parse_dates``, will parse dates according to this
       format. For anything more complex,
       please read in as ``object`` and then apply :func:`to_datetime` as-needed.

       .. versionadded:: 2.0.0
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    decimal : str, default '.'
        Character to recognize as decimal point for parsing string columns to numeric.
        Note that this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.(e.g. use ',' for European data).

        .. versionadded:: 1.4.0

    comment : str, default None
        Comments out remainder of line. Pass a character or characters to this
        argument to indicate comments in the input file. Any data between the
        comment string and the end of the current line is ignored.
    skipfooter : int, default 0
        Rows at the end to skip (0-indexed).
    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

        .. versionadded:: 1.2.0

    dtype_backend : {"numpy_nullable", "pyarrow"}, defaults to NumPy backed DataFrames
        Which dtype_backend to use, e.g. whether a DataFrame should have NumPy
        arrays, nullable dtypes are used for all dtypes that have a nullable
        implementation when "numpy_nullable" is set, pyarrow is used for all
        dtypes if "pyarrow" is set.

        The dtype_backends are still experimential.

        .. versionadded:: 2.0

    Returns
    -------
    DataFrame or dict of DataFrames
        DataFrame from the passed in Excel file. See notes in sheet_name
        argument for more information on when a dict of DataFrames is returned.

    See Also
    --------
    DataFrame.to_excel : Write DataFrame to an Excel file.
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    The file can be read using the file name as string or an open file object:

    >>> pd.read_excel('tmp.xlsx', index_col=0)  # doctest: +SKIP
           Name  Value
    0   string1      1
    1   string2      2
    2  #Comment      3

    >>> pd.read_excel(open('tmp.xlsx', 'rb'),
    ...               sheet_name='Sheet3')  # doctest: +SKIP
       Unnamed: 0      Name  Value
    0           0   string1      1
    1           1   string2      2
    2           2  #Comment      3

    Index and header can be specified via the `index_col` and `header` arguments

    >>> pd.read_excel('tmp.xlsx', index_col=None, header=None)  # doctest: +SKIP
         0         1      2
    0  NaN      Name  Value
    1  0.0   string1      1
    2  1.0   string2      2
    3  2.0  #Comment      3

    Column types are inferred but can be explicitly specified

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               dtype={'Name': str, 'Value': float})  # doctest: +SKIP
           Name  Value
    0   string1    1.0
    1   string2    2.0
    2  #Comment    3.0

    True, False, and NA values, and thousands separators have defaults,
    but can be explicitly specified, too. Supply the values you would like
    as strings or lists of strings!

    >>> pd.read_excel('tmp.xlsx', index_col=0,
    ...               na_values=['string1', 'string2'])  # doctest: +SKIP
           Name  Value
    0       NaN      1
    1       NaN      2
    2  #Comment      3

    Comment lines in the excel input file can be skipped using the `comment` kwarg

    >>> pd.read_excel('tmp.xlsx', index_col=0, comment='#')  # doctest: +SKIP
          Name  Value
    0  string1    1.0
    1  string2    2.0
    2     None    NaN

<br>

In [6]:
## Session 12.2.4 ##

# converting data types with a dictionary
data_types = {"channel" : str,
              "store"   : str}


# instantiating the dataset as an object
diamonds = pd.read_excel(io         = file      ,       
                         sheet_name = 'diamonds', 
                         header     = 0         ,          
                         dtype      = data_types,   # applying new data types
                         usecols    = range(1, 8) ) # range object


# checking results
diamonds.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409 entries, 0 to 408
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    409 non-null    float64
 1   color    409 non-null    int64
 2   clarity  409 non-null    int64
 3   cut      409 non-null    int64
 4   channel  409 non-null    object
 5   store    409 non-null    object
 6   price    409 non-null    int64
dtypes: float64(1), int64(4), object(2)
memory usage: 22.5+ KB

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
Notice that Python interpreted the string conversions as type <em>object</em>. This is normal, and stems from the fact that strings are the most fundamental of data types in Python. When Python is confused about a feature's data type, such as when a string conversion takes place, it defaults to type <em>object</em>. This is because strings can represent virtually anything.
<br>

<br><h2>Part III: Analyzing Anomalies with Descriptive Statistics</h2>

In general, our objectives with <strong>.describe(&nbsp;)</strong> are to address the following questions:

* Does the data align with its documentation?
* Are there any extreme values skewing the distribution of any features?

<br>
Additionally, we can seek to validate assumptions that were made in the <em>Finding the "Best" Diamond on a Budget</em> case study, such as:

* Is $5,795 a reasonable amount for a normal citizen of Chicago? In other words, is it close to the center of the distribution for price?
* Can a 5 on the color scale be perceived as normal? What about clarity? In other words, do these characteristics reflect what a normal diamond should look like?

<br>
<h3>Basic Use of .describe(&nbsp;)</h3>

As its name implies, the <strong>.describe(&nbsp;)</strong> method generates a set of descriptive statistics to help us better understand our data. In its most basic form, it will output statistics for all features that are of numeric types.

In [7]:
## Session 12.3.1 ##

# crude example of .describe()
diamonds.describe()

            carat       color     clarity         cut         price
count  409.000000  409.000000  409.000000  409.000000    409.000000
mean     1.055968    4.227384    5.056235    0.376528   6488.229829
std      0.418013    1.810815    1.573141    0.485108   4414.425161
min      0.320000    1.000000    1.000000    0.000000    878.000000
25%      0.720000    3.000000    4.000000    0.000000   3490.000000
50%      1.020000    4.000000    5.000000    0.000000   5550.000000
75%      1.210000    6.000000    6.000000    1.000000   8089.000000
max      2.480000    9.000000    9.000000    1.000000  27575.000000

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
We're off to a good start, but it is highly recommended that we reduce the number of decimal places being outputted as <strong><font style="color:red">an unnecessary degree of precision is another form of data dumping.</font></strong> Note, however, that since the type conversions conducted earlier were successful, <em>channel</em>, and <em>store</em> have been omitted from this table, thus alleviating us from getting distracted with irrelevant information.
<br><br>
<h3>Properly Applying .describe(&nbsp;)</h3>

The <strong>.describe(&nbsp;)</strong> method can be broken down into two parts: 1) Descriptive statistics for numeric data, and 2) Summary information for non-numeric data.
<br><br>
<h4>S12.3.2) Complete the code below to output descriptive statistics related to the numeric features of the diamonds dataset, rounded to two decimal places.</h4>

In [9]:
help(diamonds.describe)

Help on method describe in module pandas.core.generic:

describe(percentiles=None, include=None, exclude=None) -> 'NDFrameT' method of pandas.core.frame.DataFrame instance
    Generate descriptive statistics.

    Descriptive statistics include those that summarize the central
    tendency, dispersion and shape of a
    dataset's distribution, excluding ``NaN`` values.

    Analyzes both numeric and object series, as well
    as ``DataFrame`` column sets of mixed data types. The output
    will vary depending on what is provided. Refer to the notes
    below for more detail.

    Parameters
    ----------
    percentiles : list-like of numbers, optional
        The percentiles to include in the output. All should
        fall between 0 and 1. The default is
        ``[.25, .5, .75]``, which returns the 25th, 50th, and
        75th percentiles.
    include : 'all', list-like of dtypes or None (default), optional
        A white list of data types to include in the result. Ignored
        for ``Series``. Here are the options:

        - 'all' : All columns of the input will be included in the output.
        - A list-like of dtypes : Limits the results to the
          provided data types.
          To limit the result to numeric types submit
          ``numpy.number``. To limit it instead to object columns submit
          the ``numpy.object`` data type. Strings
          can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
          select pandas categorical columns, use ``'category'``
        - None (default) : The result will include all numeric columns.
    exclude : list-like of dtypes or None (default), optional,
        A black list of data types to omit from the result. Ignored
        for ``Series``. Here are the options:

        - A list-like of dtypes : Excludes the provided data types
          from the result. To exclude numeric types submit
          ``numpy.number``. To exclude object columns submit the data
          type ``numpy.object``. Strings can also be used in the style of
          ``select_dtypes`` (e.g. ``df.describe(exclude=['O'])``). To
          exclude pandas categorical columns, use ``'category'``
        - None (default) : The result will exclude nothing.

    Returns
    -------
    Series or DataFrame
        Summary statistics of the Series or Dataframe provided.

    See Also
    --------
    DataFrame.count: Count number of non-NA/null observations.
    DataFrame.max: Maximum of the values in the object.
    DataFrame.min: Minimum of the values in the object.
    DataFrame.mean: Mean of the values.
    DataFrame.std: Standard deviation of the observations.
    DataFrame.select_dtypes: Subset of a DataFrame including/excluding
        columns based on their dtype.

    Notes
    -----
    For numeric data, the result's index will include ``count``,
    ``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
    upper percentiles. By default the lower percentile is ``25`` and the
    upper percentile is ``75``. The ``50`` percentile is the
    same as the median.

    For object data (e.g. strings or timestamps), the result's index
    will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
    is the most common value. The ``freq`` is the most common value's
    frequency. Timestamps also include the ``first`` and ``last`` items.

    If multiple object values have the highest count, then the
    ``count`` and ``top`` results will be arbitrarily chosen from
    among those with the highest count.

    For mixed data types provided via a ``DataFrame``, the default is to
    return only an analysis of numeric columns. If the dataframe consists
    only of object and categorical data without any numeric columns, the
    default is to return an analysis of both the object and categorical
    columns. If ``include='all'`` is provided as an option, the result
    will include a union of attributes of each type.

    The `include` and `exclude` parameters can be used to limit
    which columns in a ``DataFrame`` are analyzed for the output.
    The parameters are ignored when analyzing a ``Series``.

    Examples
    --------
    Describing a numeric ``Series``.

    >>> s = pd.Series([1, 2, 3])
    >>> s.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    dtype: float64

    Describing a categorical ``Series``.

    >>> s = pd.Series(['a', 'a', 'b', 'c'])
    >>> s.describe()
    count     4
    unique    3
    top       a
    freq      2
    dtype: object

    Describing a timestamp ``Series``.

    >>> s = pd.Series([
    ...     np.datetime64("2000-01-01"),
    ...     np.datetime64("2010-01-01"),
    ...     np.datetime64("2010-01-01")
    ... ])
    >>> s.describe()
    count                      3
    mean     2006-09-01 08:00:00
    min      2000-01-01 00:00:00
    25%      2004-12-31 12:00:00
    50%      2010-01-01 00:00:00
    75%      2010-01-01 00:00:00
    max      2010-01-01 00:00:00
    dtype: object

    Describing a ``DataFrame``. By default only numeric fields
    are returned.

    >>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
    ...                    'numeric': [1, 2, 3],
    ...                    'object': ['a', 'b', 'c']
    ...                   })
    >>> df.describe()
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Describing all columns of a ``DataFrame`` regardless of data type.

    >>> df.describe(include='all')  # doctest: +SKIP
           categorical  numeric object
    count            3      3.0      3
    unique           3      NaN      3
    top              f      NaN      a
    freq             1      NaN      1
    mean           NaN      2.0    NaN
    std            NaN      1.0    NaN
    min            NaN      1.0    NaN
    25%            NaN      1.5    NaN
    50%            NaN      2.0    NaN
    75%            NaN      2.5    NaN
    max            NaN      3.0    NaN

    Describing a column from a ``DataFrame`` by accessing it as
    an attribute.

    >>> df.numeric.describe()
    count    3.0
    mean     2.0
    std      1.0
    min      1.0
    25%      1.5
    50%      2.0
    75%      2.5
    max      3.0
    Name: numeric, dtype: float64

    Including only numeric columns in a ``DataFrame`` description.

    >>> df.describe(include=[np.number])
           numeric
    count      3.0
    mean       2.0
    std        1.0
    min        1.0
    25%        1.5
    50%        2.0
    75%        2.5
    max        3.0

    Including only string columns in a ``DataFrame`` description.

    >>> df.describe(include=[object])  # doctest: +SKIP
           object
    count       3
    unique      3
    top         a
    freq        1

    Including only categorical columns from a ``DataFrame`` description.

    >>> df.describe(include=['category'])
           categorical
    count            3
    unique           3
    top              d
    freq             1

    Excluding numeric columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[np.number])  # doctest: +SKIP
           categorical object
    count            3      3
    unique           3      3
    top              f      a
    freq             1      1

    Excluding object columns from a ``DataFrame`` description.

    >>> df.describe(exclude=[object])  # doctest: +SKIP
           categorical  numeric
    count            3      3.0
    unique           3      NaN
    top              f      NaN
    freq             1      NaN
    mean           NaN      2.0
    std            NaN      1.0
    min            NaN      1.0
    25%            NaN      1.5
    50%            NaN      2.0
    75%            NaN      2.5
    max            NaN      3.0

In [16]:
## Session 12.3.2 ##

# descriptive statistics on numeric columns
diamonds.describe(include = 'number').round(decimals = 2)

        carat   color  clarity     cut     price
count  409.00  409.00   409.00  409.00    409.00
mean     1.06    4.23     5.06    0.38   6488.23
std      0.42    1.81     1.57    0.49   4414.43
min      0.32    1.00     1.00    0.00    878.00
25%      0.72    3.00     4.00    0.00   3490.00
50%      1.02    4.00     5.00    0.00   5550.00
75%      1.21    6.00     6.00    1.00   8089.00
max      2.48    9.00     9.00    1.00  27575.00

In [23]:
# pct list
pct_lst = [0.50, 0.55, 0.60, 0.65, 0.70, 0.75]

# descriptive statistics
diamonds.describe(include = 'object', percentiles = pct_lst).round(decimals = 2)

       channel store
count      409   409
unique       3    11
top          2    10
freq       318   211

<br>
The output above is much cleaner, allowing us to analyze its information more efficiently. This table is also far more presentable, helping to show that we are organized and not cutting corners throughout our analysis. Now, let's run <strong>.describe(&nbsp;)</strong> on the non-numeric features of the dataset.
<br><br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h4>S12.3.3) Complete the code below to output frequency information related to the non-numeric features of the diamonds dataset.</h4>
Note that you do not need to round the results.

In [ ]:
## Session 12.3.3 ##

# descriptive statistics on non-numeric columns
____

<br>

The output above does not provide a high degree of information related to the dataset's non-numeric features. For this reason, we generally also rely on the <em>pandas</em> Series method <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html">.value_counts(&nbsp;)</a>. This method works with both numeric and non-numeric data.


<div style = "width:image width px; font-size:80%; text-align:center;"><img src="./__script_images/chapter-X3-object-describe-table.png" width="400" height="400" style="padding-bottom:0.5em;"> <em>Figure 12.2: Explanation of .describe(&nbsp;) for non-numeric data.</em></div>

<br>
<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h4>S12.3.3) Apply .value_counts(&nbsp;) to channel.</h4>
Leave the optional arguments as they are when developing your code. Does it appear that each channel has equal representation in the dataset? What does this imply?

In [24]:
## Session 12.3.4 ##

# applying value_counts to channel
diamonds['channel'].value_counts(normalize = False,
                                 sort      = False,
                                 ascending = False)

channel
0     43
1     48
2    318
Name: count, dtype: int64

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h4>S12.3.4) Apply .value_counts(&nbsp;) to store.</h4>
Set the sort argument to True. Do any of the stores have less than 30 observations?

In [26]:
## Session 12.3.5 ##

# applying value_counts to store
diamonds['store'].value_counts(normalize   = False, # percentages
                                 sort      = True , # sort by frequencies
                                 ascending = False) # smallest value on top?

store
10    211
11    107
3      15
7      14
6      13
1      11
9       9
2       8
8       7
4       7
5       7
Name: count, dtype: int64

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h4>S12.3.5) Apply .value_counts(&nbsp;) to color.</h4>
Set the normalize argument to True and round the results to three decimal places. Does it appear that this feature is (relatively) normally distributed?

In [38]:
## Session 12.3.6 ##

# applying value_counts to color
diamonds[ diamonds['color'] <= 2 ]['store'].value_counts()

store
10    56
11    21
3      3
6      3
1      2
7      1
2      1
5      1
Name: count, dtype: int64

<hr style="height:.9px;border:none;color:#333;background-color:#333;" /><br>
<h4>S12.3.6) Apply .value_counts(&nbsp;) to clarity.</h4>
Set the normalize argument to True and round the results to two decimal places. Does it appear that this feature is (relatively) normally distributed?

In [51]:
## Session 12.3.7 ##

# applying value_counts to clarity
diamonds['clarity'].value_counts(normalize = True)\
                   .round(decimals = 2)\
                   .sort_index()

clarity
1    0.03
2    0.03
3    0.10
4    0.19
5    0.26
6    0.20
7    0.16
8    0.03
9    0.00
Name: proportion, dtype: float64

In [57]:
# are high clarity diamonds cheaper?
diamonds[  (diamonds['clarity'] >= 7)  ].describe(include = 'number')\
                                        .round(decimals = 2)

       carat  color  clarity    cut     price
count  80.00  80.00    80.00  80.00     80.00
mean    1.03   3.74     7.21   0.29   5439.26
std     0.37   1.87     0.47   0.46   2780.28
min     0.32   1.00     7.00   0.00   1375.00
25%     0.72   2.00     7.00   0.00   3672.25
50%     1.02   4.00     7.00   0.00   4934.50
75%     1.12   5.00     7.00   1.00   5965.25
max     2.37   8.00     9.00   1.00  16500.00

In [59]:
help(diamonds.value_counts)

Help on method value_counts in module pandas.core.frame:

value_counts(subset: 'Sequence[Hashable] | None' = None, normalize: 'bool' = False, sort: 'bool' = True, ascending: 'bool' = False, dropna: 'bool' = True) -> 'Series' method of pandas.core.frame.DataFrame instance
    Return a Series containing counts of unique rows in the DataFrame.

    .. versionadded:: 1.1.0

    Parameters
    ----------
    subset : label or list of labels, optional
        Columns to use when counting unique combinations.
    normalize : bool, default False
        Return proportions rather than frequencies.
    sort : bool, default True
        Sort by frequencies.
    ascending : bool, default False
        Sort in ascending order.
    dropna : bool, default True
        Don’t include counts of rows that contain NA values.

        .. versionadded:: 1.3.0

    Returns
    -------
    Series

    See Also
    --------
    Series.value_counts: Equivalent method on Series.

    Notes
    -----
    The returned Series will have a MultiIndex with one level per input
    column but an Index (non-multi) for a single label. By default, rows
    that contain any NA values are omitted from the result. By default,
    the resulting Series will be in descending order so that the first
    element is the most frequently-occurring row.

    Examples
    --------
    >>> df = pd.DataFrame({'num_legs': [2, 4, 4, 6],
    ...                    'num_wings': [2, 0, 0, 0]},
    ...                   index=['falcon', 'dog', 'cat', 'ant'])
    >>> df
            num_legs  num_wings
    falcon         2          2
    dog            4          0
    cat            4          0
    ant            6          0

    >>> df.value_counts()
    num_legs  num_wings
    4         0            2
    2         2            1
    6         0            1
    Name: count, dtype: int64

    >>> df.value_counts(sort=False)
    num_legs  num_wings
    2         2            1
    4         0            2
    6         0            1
    Name: count, dtype: int64

    >>> df.value_counts(ascending=True)
    num_legs  num_wings
    2         2            1
    6         0            1
    4         0            2
    Name: count, dtype: int64

    >>> df.value_counts(normalize=True)
    num_legs  num_wings
    4         0            0.50
    2         2            0.25
    6         0            0.25
    Name: proportion, dtype: float64

    With `dropna` set to `False` we can also count rows with NA values.

    >>> df = pd.DataFrame({'first_name': ['John', 'Anne', 'John', 'Beth'],
    ...                    'middle_name': ['Smith', pd.NA, pd.NA, 'Louise']})
    >>> df
      first_name middle_name
    0       John       Smith
    1       Anne        <NA>
    2       John        <NA>
    3       Beth      Louise

    >>> df.value_counts()
    first_name  middle_name
    Beth        Louise         1
    John        Smith          1
    Name: count, dtype: int64

    >>> df.value_counts(dropna=False)
    first_name  middle_name
    Anne        NaN            1
    Beth        Louise         1
    John        Smith          1
                NaN            1
    Name: count, dtype: int64

    >>> df.value_counts("first_name")
    first_name
    John    2
    Anne    1
    Beth    1
    Name: count, dtype: int64

In [64]:
diamonds[  ['channel', 'store']  ].value_counts().sort_index()

channel  store
0        3         15
         4          7
         7         14
         8          7
1        1         11
         2          8
         5          7
         6         13
         9          9
2        10       211
         11       107
Name: count, dtype: int64

~~~


          _____          
         /\    \         
        /::\    \        
       /::::\    \       
      /::::::\    \      
     /:::/\:::\    \     
    /:::/__\:::\    \    
   /::::\   \:::\    \   
  /::::::\   \:::\    \  
 /:::/\:::\   \:::\    \ 
/:::/  \:::\   \:::\____\
\::/    \:::\   \::/    /
 \/____/ \:::\   \/____/ 
          \:::\    \     
           \:::\____\    
            \::/    /    
             \/____/     
                         
                         
                         
                         
                         
          _____          
         /\    \         
        /::\    \        
       /::::\    \       
      /::::::\    \      
     /:::/\:::\    \     
    /:::/__\:::\    \    
   /::::\   \:::\    \   
  /::::::\   \:::\    \  
 /:::/\:::\   \:::\    \ 
/:::/  \:::\   \:::\____\
\::/    \:::\  /:::/    /
 \/____/ \:::\/:::/    / 
          \::::::/    /  
           \::::/    /   
           /:::/    /    
          /:::/    /     
         /:::/    /      
        /:::/    /       
        \::/    /        
         \/____/         
                         
          _____          
         /\    \         
        /::\____\        
       /::::|   |        
      /:::::|   |        
     /::::::|   |        
    /:::/|::|   |        
   /:::/ |::|   |        
  /:::/  |::|   | _____  
 /:::/   |::|   |/\    \ 
/:: /    |::|   /::\____\
\::/    /|::|  /:::/    /
 \/____/ |::| /:::/    / 
         |::|/:::/    /  
         |::::::/    /   
         |:::::/    /    
         |::::/    /     
         /:::/    /      
        /:::/    /       
        \::/    /        
         \/____/         
                         
      _____              
     /\    \             
    /::\    \            
    \:::\    \           
     \:::\    \          
      \:::\    \         
       \:::\    \        
       /::::\    \       
      /::::::\    \      
     /:::/\:::\    \     
    /:::/  \:::\____\    
   /:::/    \::/    /    
  /:::/    / \/____/     
 /:::/    /              
/:::/    /               
\::/    /                
 \/____/                 
                         
                         
                         
                         
                         
          _____          
         /\    \         
        /::\    \        
       /::::\    \       
      /::::::\    \      
     /:::/\:::\    \     
    /:::/__\:::\    \    
   /::::\   \:::\    \   
  /::::::\   \:::\    \  
 /:::/\:::\   \:::\    \ 
/:::/  \:::\   \:::\____\
\::/    \:::\  /:::/    /
 \/____/ \:::\/:::/    / 
          \::::::/    /  
           \::::/    /   
           /:::/    /    
          /:::/    /     
         /:::/    /      
        /:::/    /       
        \::/    /        
         \/____/         
                         
          _____          
         /\    \         
        /::\    \        
       /::::\    \       
      /::::::\    \      
     /:::/\:::\    \     
    /:::/__\:::\    \    
    \:::\   \:::\    \   
  ___\:::\   \:::\    \  
 /\   \:::\   \:::\    \ 
/::\   \:::\   \:::\____\
\:::\   \:::\   \::/    /
 \:::\   \:::\   \/____/ 
  \:::\   \:::\    \     
   \:::\   \:::\____\    
    \:::\  /:::/    /    
     \:::\/:::/    /     
      \::::::/    /      
       \::::/    /       
        \::/    /        
         \/____/         
                         
      _____              
     /\    \             
    /::\    \            
    \:::\    \           
     \:::\    \          
      \:::\    \         
       \:::\    \        
       /::::\    \       
      /::::::\    \      
     /:::/\:::\    \     
    /:::/  \:::\____\    
   /:::/    \::/    /    
  /:::/    / \/____/     
 /:::/    /              
/:::/    /               
\::/    /                
 \/____/                 
                         
                         
                         
                         
                         
          _____          
         /\    \         
        /::\    \        
        \:::\    \       
         \:::\    \      
          \:::\    \     
           \:::\    \    
           /::::\    \   
  ____    /::::::\    \  
 /\   \  /:::/\:::\    \ 
/::\   \/:::/  \:::\____\
\:::\  /:::/    \::/    /
 \:::\/:::/    / \/____/ 
  \::::::/    /          
   \::::/____/           
    \:::\    \           
     \:::\    \          
      \:::\    \         
       \:::\____\        
        \::/    /        
         \/____/         
                         
          _____          
         /\    \         
        /::\    \        
       /::::\    \       
      /::::::\    \      
     /:::/\:::\    \     
    /:::/  \:::\    \    
   /:::/    \:::\    \   
  /:::/    / \:::\    \  
 /:::/    /   \:::\    \ 
/:::/____/     \:::\____\
\:::\    \      \::/    /
 \:::\    \      \/____/ 
  \:::\    \             
   \:::\    \            
    \:::\    \           
     \:::\    \          
      \:::\    \         
       \:::\____\        
        \::/    /        
         \/____/         
                         


~~~

<br>